RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^settings(?:\/(\w+)\/(\w+)){0,1}(?:\/?|)$ index.php?app=settings&apph=settings&page=$1&user=$2 [QSA]
RewriteRule ^@([^\/]+)(\/|)$ index.php?app=profile&apph=profile&uname=$1 [QSA]
RewriteRule ^@([^\/]+)/(following|followers|posts|favourites)(?:\/?|)$ index.php?app=profile&apph=profile&uname=$1&page=$2 [QSA]
RewriteRule ^messages(?:\/?|)$ index.php?app=messages&apph=messages [QSA]
RewriteRule ^messages/([a-z0-9_]{4,32})(?:\/?|)$ index.php?app=messages&apph=messages&uname=$1 [QSA]
RewriteRule ^welcome(?:\/?|)$ index.php?app=welcome&apph=welcome [QSA]
RewriteRule ^signup(?:\/?|)$ index.php?app=signup&apph=signup [QSA]
RewriteRule ^signout(?:\/?|)$ index.php?app=signout&apph=signout [QSA]
RewriteRule ^explore(?:\/?|)$ index.php?app=explore&apph=explore [QSA]
RewriteRule ^forgot(?:\/?|)$ index.php?app=welcome&apph=forgot [QSA]
RewriteRule ^explore/people(?:\/?|)$ index.php?app=explore&apph=people [QSA]
RewriteRule ^explore/tags/([^`~!@$%^&*\#()\-+=\\|\/\.,<>?\'\":;{}\[\]*]{4,120})(\/?|)$ index.php?app=explore&apph=tags&tag=$1 [QSA]
RewriteRule ^post/(\d+)(?:\/?)$ index.php?app=posts&apph=view_post&pid=$1 [QSA]
RewriteRule ^confirm/(.*)$ index.php?app=confirm&apph=confirm_email&code=$1 [QSA]

RewriteRule ^reset-password/(.*)$ index.php?app=welcome&apph=reset&code=$1 [QSA]

RewriteRule ^xhr/([\w-]+)/([\w-]+)(?:\/?|)$ ajax.php?app=$1&a=$2 [QSA]
RewriteRule ^about-us(\/?|)$ index.php?app=terms&apph=terms&page=about [QSA]
RewriteRule ^terms-of-use(\/?|)$ index.php?app=terms&apph=terms&page=terms-of-use [QSA]
RewriteRule ^privacy-and-policy(\/?|)$ index.php?app=terms&apph=terms&page=privacy-and-policy [QSA]
RewriteRule ^admin-panel(?:\/([a-zA-Z0-9_-]{0,50})){0,1}$ admincp.php?page=$1 [QSA]
RewriteRule ^404(\/?|)$ index.php?app=404&apph=404 [QSA]

<IfModule php5_module>
   php_flag asp_tags Off
   php_flag display_errors Off
   php_value max_execution_time 5000
   php_value max_input_time 6000
   php_value max_input_vars 10000
   php_value memory_limit 2650M
   php_value post_max_size 2560M
   php_value session.gc_maxlifetime 1440
   php_value upload_max_filesize 2560M
   php_flag zlib.output_compression Off
</IfModule>